<div class="main">
    <h1>Filmes cadastrados:</h1>

    <div class="films-list">
        <% @films.each do |film|  %>
                <%= link_to film.name, film %><br>      
        <% end %>
    </div>   
</div>

