<div class="mx-auto p-4" style="width: 70%; background: #e9ecef">

<h1>Cadastre um filme:</h1>

<%= render partial: 'form', locals: { recipe: @film } %>

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
</div>
