<div class="mx-auto p-4" style="width: 70%; background: #e9ecef">

<div class="container">
<h2 class="display-6">Filmes do Gênero <%= @category.name %></h2>



       
                          
                
            <% @films.select { |film| film.category_id == @category.id }.each do |film| %>
                <ul>
                    <li><%= link_to film.title, film_path(film) %></li>
                </ul>
            <% end %>
          
        <%= link_to "Página inicial", root_path %>


        <% if flash[:notice] %>
        <%= flash[:notice] %>
        <% end %>
</div>
        
</div>